.header {
  height: 95px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  color: #0290ff;
  margin-left: 100px;
}

.header-books,
.header-categories {
  font-size: 13px;
  letter-spacing: 1.9px;
  color: #121212
}

.header-books {
  margin-left: 47px;
}

.header-categories {
  margin-left: calc(587px - 487px - 59px);
  opacity: 0.5;
}

.header-icon {
  width: 45px;
  height: 45px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  margin-right: 100px;
  display: flex;
}

.icon {
  margin: auto;
  color: #0290ff;
}